/* ------------------------------------- */
/* HEADER                                */
/* ------------------------------------- */

.main-header {
  display: flex;
  flex-direction: column;
  

  @media (max-width: 768px) {
    & {
      flex-direction: column-reverse;
    }
  }


}

#menu {
  display: none;

  &:checked + .nav-bar {
    display: block;
  }

  &:checked ~ .search-bar .menu-toogle__label {
    background-color: #E3BDEE;
  }

}

/* ------------------------------------- */
/* NAVBAR                                */
/* ------------------------------------- */

.nav-bar {
  background-color: #E3BDEE;

  &__nav-list {
    display: flex;
    list-style-type: none;
    justify-content: center;

    @media (max-width: 768px) {
      & {
        flex-direction: column;
      }
    }
  }

 

  &__nav-link {
    display: block;
    background-color: #E3BDEE;
    color: #555454;
    padding: 1em 2em;
    padding-top: 30px;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    & {
      display: none;
    }
  }
}

/* ------------------------------------- */
/* SEARCH BAR                            */
/* ------------------------------------- */

.search-bar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;

  &__logo-container,
  &__form-container {  
  
    padding: 1em;
  }

  &__logo-container {
    height: 10px;
    width: 10px;
    background-color: #ffffff;
  }

  &__form-container {
    background-color: #ffffff;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
  }

  &__form-label {
    background-color: #ffffff;
  }

  &__form-search {
    background-color: #E3BDEE;
    width: 70%;
  }

  &__form-submit {
    background-color: rgb(79, 76, 47);
    color: white;
  }

  &__carrito-container {
    svg {
      fill: darkmagenta;
      height: 30px;
      margin-top: 15px;
      margin-right: 20px;
      transition: background-color 0.3s, color 0.3s;
      
      &:hover{
        background-color: #E3BDEE;
      }
    }
  }
}


/* ------------------------------------- */
/* MENU TOOGLE                           */
/* ------------------------------------- */

.menu-toggle {
  display: none;
  background-color: #E3BDEE;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;

  &__label {
    display: block;
    background-color: #E3BDEE;
    height: 100%;
  }

  &__top-bread,
  &__meat,
  &__bottom-bread {
    display: block;
    background-color: #333;
    height: .2em;
    position: absolute;
    left: .5em;
    right: .5em;
  }

  &__top-bread {
    top: .8em;
  }

  &__meat {
    top: 50%;
    margin-top: -.1em;
  }

  &__bottom-bread {
    bottom: .8em;
  }

  @media (max-width: 768px) {
    & {
      display: block;
    }
  }
}
.logo{
  display: flex; 
  align-self: flex-start;
  justify-content: center;
  height: 80px;
  width: 90px; 
  
}
